<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration        
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"mybatis-3-config.dtd">

<!-- 通过这个配置文件完成对MyBatis与数据库的连接 -->
<configuration>
	<!-- 1. 引入jdbc文件 -->
	<properties resource="jdbc.properties"/>
	<!-- 2. 类型别名 -->
	<typeAliases>
		<!-- 
		<typeAlias type="com.bdqn.pojo.pojo" alias="User"/>
		 -->
		<package name="cn.bdqn.pojo"/>
	</typeAliases>
	<!-- 3. 配置环境变量 -->
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"></transactionManager>
			
			<dataSource type="POOLED">
				<property name="driver" value="${driver}"/>
				<property name="url" value="${url}"/>
				<property name="username" value="${username}"/>
				<property name="password" value="${password}"/>
			</dataSource>
		</environment>
	</environments>
	
	<mappers>
		<mapper resource="cn/bdqn/dao/UserMapper.xml"/>
	</mappers>
</configuration>



